.tablet-only{
  display:block;
  }
.desktop-and-mobile-only{
    display:none;
  }
.nav-right {float:right}
.desktop-only{display:none;}
.img-menu{
  width:2em;
}
.img-logo{
  width:2.5em;
}
.logo-div{
  text-align: center;
}
body{
  height: 100%;
  width:100%;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(134,134,233,1) 35%, rgba(255,255,255,1) 100%);
  z-index: -1;
  overflow-x: hidden;
}

input:not([type=submit]):not([type=reset]):focus, select:focus{
background-color: rgb(248, 207, 130);
border: solid rgb(252, 20, 3) 0.2em;
}

button:focus, input:focus, select:focus{
outline: none;
}

#logo {width:100%}
.nav-right {float:right}
header {display: none;
  width:50%;
}

nav {float: none;
  width:100%;
  background-color:rgb(8, 130, 187);
  font-size: 20px;
  /*transition: all 0.5s;*/
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:rgb(8, 130, 187);
}

nav li {
  float: left;
}

nav li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 1.25em 1.25em;
  text-decoration: none;
  border-radius: 5em;
}

nav li a:hover {
  background-color:#140363;
  
}
#nav-search{
  margin-top: 1.3em;
  display:inline-block;
  width:20em;
  height: 3em;
  padding-left:0.
  5em;
  border-radius: 5em;
  background-image: url("../images/menu_search.png");
  background-size: 1.5em;
  background-repeat: no-repeat;
  background-position: right;

}
#banner{
  overflow: auto;
  display: block;
  width: 100%;
  background-image: url("../images/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 8em;
  }
#btn-appointment{
  border-radius: 5em;
  background-color: rgb(50, 95, 6);
  color: white;
  font-weight: bold;
  padding: 1em;
  box-shadow: 1em 1em 1em #4c4f4d;
  margin-right: 2em;
  
}
.banner-aside{
  display: inline-block;
  width: 25%;
  background-color: #9ea0f7;
  border-radius: 0 5em 5em 5em;
  box-shadow: 1em 1em 1em #4c4f4d;
  padding: 1.5em;
  margin: 1em;

}
.banner-aside h3{
  text-align: left;
}
#main{
  background-color: rgb(226, 210, 210);
  margin-top: -1em;
}
#article-text{
  text-align: right;
  color: rgb(87, 84, 84);
  font-size: 1.1em;
}
#article-text h2{

  margin-right: 1em;
}

#article-btn{
  text-align: right;
  
}
#settings{width:1.2em;} 
#img-search{width:1.2em;
          margin-top: 0.3em;}

.sub-heading{
  background-color: rgb(8, 130, 187);
  padding-left: 0.5em;
  padding-top: 0.2em;
  padding-bottom: 0.5em;
  color: white;
}
.sub-heading img{
  width:2%;
  margin-right:0.5em;
  float:right;
}

#ticket-div{
  width:100%;
  text-align: center;

}

#ticket-div .details{
  width:70%;
/*    margin-left: 1em;*/
/*   Responsive change */
  margin-left: 2rem;    
  margin-right: 5rem; 
}

#ticket-div .details_child{
  background-color: rgb(109, 190, 245);
  box-shadow: 1em 1em 1em #4c4f4d;
  
}

#ticket-div select, .input-text, .input-date{
  
  border-radius: 5em;
  /*width: 21.5em;*/
  /*   Responsive change */
  width: 8rem;
  height: 2.5em;
  box-shadow: 1em 1em 1em #4c4f4d;
  padding-left:1em;
  margin:1em;
}
.input-btn {
  box-shadow: 1em 1em 1em #4c4f4d;
  padding-left:1em;
  margin:1em;
  width: 5.5em;
  height: 2.5em;
 }
 .radio-btn {
  box-shadow: 1em 1em 1em #4c4f4d;
  margin:1em;
  width: 1.5em;
  height: 1.5em;
 }
.search_button{
  background-color: maroon;
  color: white;
  border-radius: 5em;
  width: 8em;
  height: 3em;

}
.clear_button{
  background-color: rgb(3, 71, 15);
  color: rgb(255, 255, 255);
  border-radius: 5em;
  width: 8em;
  height: 3em;

}
.book_button{
background-color: maroon;
color: white;
border-radius: 5em;
width: 5em;
height: 1.5em;
}
.table-search tr, .table-search td, .table-search th{
  border: solid black;
}
.table-search caption{
  background-color: rgb(8, 130, 187);
  font-weight: bold;
}
.table-search th{
  background-color: rgb(28, 8, 99);
  color: white;
  font-weight: bold;
}
.table-search 
{
    width:100%;
    
    border: solid black;
    margin-top:2.5em;
    margin-bottom:3em;
    margin-right: 3em;
    border-collapse: collapse;
    
}
.table-search td
{
padding-left: 1em;
}
.even 
{
    background-color: gray;
    
}
.odd 
{
    background-color: rgb(249, 250, 236);
}
tfoot{
    text-align:center;
}
.pagination bttn
{
  display: inline-block;
  color: white;
  padding: 0.5em 0.5em;
  text-decoration: none;
  background-color:rgb(8, 130, 187);
  margin:0.5em;
}
.footer{
  
  background-color:rgb(8, 130, 187);
  color: white;
}
.footer img{
  width:1.5em;
}
.footer span{
  display: inline-block;
  text-align: right;
  width:48%;
}

.pagination_container{
border: 1px solid rgba(0, 0, 0, .11);
padding: 10px;
/*width: 500px; */
/*   Responsive change */
width: 300px;
}
/*   Responsive change */
#trip2::after{
  content: "\a";
  white-space: pre;
}
#table-body tr:nth-child(even) {background: lightsalmon;}
#table-body tr:nth-child(odd) {background:lightseagreen;}