*{box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
img {vertical-align: middle;}

#slideshow { 
    margin: 50px auto; 
    position: relative; 
    max-width: 850px; 
    height: 450px; 
    padding: 50px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
  }
  
  #slideshow > div { 
    position: absolute; 
    top: 20px; 
    left: 20px; 
    right: 20px; 
    bottom: 20px; 
  }
/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
